---
layout: default_style
permalink: /work/
published: true
---

<div id="banners"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>시공 사례</h2>
            <p>홈케어 집수리가 직접 시공한 다양한 사례를 확인해보세요</p>
            <hr>
        </div>
    </div>

    <div class="row">

        {% for post in paginator.posts %}

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

            <div class="thumbnail work-item">

                <a href="{{ post.url | relative_url }}">

                    <img
                        src="{{ '/assets/img/work/' | relative_url }}{{ post.date | date: '%Y-%m-%d' }}-{{ post.slug }}/{{ post.image }}"
                        alt="{{ post.title }}"
                        class="work-thumb">

                    <div class="caption text-center">

                        <h4>{{ post.title }}</h4>

                        {% if post.category %}
                            <span class="label label-primary">
                                {{ post.category }}
                            </span>
                        {% endif %}

                    </div>

                </a>

            </div>

        </div>

        {% endfor %}

    </div>

    <!-- Pagination -->
    {% if paginator.total_pages > 1 %}
    <div class="row">
        <div class="col-md-12 text-center">

            <ul class="pagination">

                {% if paginator.previous_page %}
                <li>
                    <a href="{{ paginator.previous_page_path | relative_url }}">
                        &laquo;
                    </a>
                </li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}

                    {% if page == paginator.page %}

                    <li class="active">
                        <span>{{ page }}</span>
                    </li>

                    {% elsif page == 1 %}

                    <li>
                        <a href="{{ '/work/' | relative_url }}">
                            {{ page }}
                        </a>
                    </li>

                    {% else %}

                    <li>
                        <a href="{{ site.paginate_path | replace: ':num', page | relative_url }}">
                            {{ page }}
                        </a>
                    </li>

                    {% endif %}

                {% endfor %}

                {% if paginator.next_page %}
                <li>
                    <a href="{{ paginator.next_page_path | relative_url }}">
                        &raquo;
                    </a>
                </li>
                {% endif %}

            </ul>

        </div>
    </div>
    {% endif %}

</div>
